body {
  font-family: Gotham;
}

img {
  width: 100%;
}

h3 {
  margin: 0px;
  padding: 0px;
  text-transform: capitalize;
}

h2 {
  margin: 0px;
  padding: 0px;
  text-transform: capitalize;
  margin-top: 0.5rem;
}

h4 {
  font-weight: 400;
  padding: 0.5rem 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header Alanı */

div.logo {
  padding-left: 24px;
  height: 32px;
  align-items: center;
  display: flex;
  margin: auto 0;
}

header {
  height: 64px;
  background-color: white;
  position: fixed;
  display: flex;
  z-index: 1;
  border-bottom: 1px solid black;
  width: 100%;
  left: 0;
  top: 0;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
}

nav {
  font-size: 12px;
  font-weight: 500;
  margin-right: 1.5rem;
}

.logo1 {
  font-weight: 600;
  font-size: 18px;
}

.logo2 {
  font-weight: 100;
  font-size: 18px;
  color: gray;
}

.logo span {
  align-items: center;
}

nav span a {
  padding: 0px 8px;
  text-decoration: none;
  color: black;
  font-size: 12px;
}

nav span a:hover {
  color: rgb(216, 216, 216);
}

/* CTA Banner Alanı */

div.container-cta-banner {
  width: 60%;
  padding: 32px 24px;
}

div.container-cta {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(216, 216, 216);
  position: relative;
}

button {
  color: white;
  background-color: black;
  padding: 0.5rem 0;
  font-family: Gotham;
  font-weight: 300;
  font-size: 1em;
  display: flex;
  justify-content: center;
  border: 1px solid white;
  max-width: 90%;
  transition-property: all;
  transition-duration: 0.2s;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
}

button:hover {
  background-color: rgb(50, 50, 50);
}

div.container-cta-text {
  font-size: 1.2em;
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container-cta-text p {
  padding: 1.5rem 0;
}

/* Info Alanı */

div.container-info-img {
  width: 60%;
  padding: 32px 24px;
}

div.container-info-img h2 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.who-said {
  font-size: 0.8rem;
}

aside p {
  font-style: italic;
  padding-bottom: 0.5rem;
}

div.container-info {
  display: flex;
}

div.info {
  justify-content: center;
  align-items: center;
  display: flex;
  border-left: 1px solid rgb(216, 216, 216);
  border-bottom: 1px solid rgb(216, 216, 216);
}

.info-last {
  justify-content: center;
  align-items: center;
  display: flex;
  border-left: 1px solid rgb(216, 216, 216);
}

.info-last:hover{
  background-color: rgb(216, 216, 216);
}

.info:hover{
  background-color: rgb(216, 216, 216);
}

div.info-img {
  width: 35%;
  padding: 16px;
}

.info-text {
  width: 65%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container-info-list {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin: 32px auto;
}

.info-span {
  padding: 0.5rem 0;
}

.read-more {
  text-transform: capitalize;
  color: rgb(64, 140, 233);
  text-decoration: none;
}

.read-more:hover {
  color: white;
}

/* Programs Alanı */

#Programs {
  background-color: rgb(216, 216, 216);
}

h2.title-programs {
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
  font-size: 2rem;
}

.program-list {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 5rem;
  justify-content: space-around;
  width: auto;
}

.container-programs {
  width: 28%;
  margin: 1rem;
  padding-bottom: 1.5rem;
  background-color: white;
  transition-property: all;
  transition-duration: 0.40s;
  transition-timing-function: ease-in-out;
}

.container-programs:hover {
  transform: scale(1.1);
}

.programs-text {
  padding: 1rem 1rem;
}

.programs-img {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.container-programs img {
  width: 100%;
}

/* Thesis Alanı */

.container-thesis {
  display: flex;
  width: 100%;
}

.thesis-video {
  width: 60%;
  margin: 0 1.5rem 2rem 1.5rem;
}

.thesis-articles {
  width: 40%;
  margin-top: 1.5rem;
}

.video {
  width: 100%;
  height: auto;
  padding-left: 1.5rem;
}

video {
  width: 100%;
  height: auto;
}

.text {
  margin: 1.5rem 0 2rem 1.5rem;
}

div.article {
  justify-content: center;
  align-items: center;
  display: flex;
}

div.article-last {
  justify-content: center;
  align-items: center;
  display: flex;
}

h2.title-thesis {
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
  font-size: 2rem;
}

.article-last:hover {
  background-color: rgb(216, 216, 216);
}

.article:hover {
  background-color: rgb(216, 216, 216);
}

.description {
  padding-top: 0.5rem;
}
