body {
  font-family: Gotham;
}

/* Header Alanı */

div.logo {
  padding-left: 24px;
  height: 32px;
  align-items: center;
  display: flex;
  margin: auto 0;
}

header {
  height: 64px;
  background-color: white;
  position: fixed;
  display: flex;
  z-index: 1;
  border: 1px solid black;
  width: 100%;
  left: 0;
  top: 0;
  align-items: center;
  justify-content: space-between;
}

nav {
  padding-right: 24px;
  font-size: 16px;
  font-weight: 500;
  float: right;
}

.logo1 {
  font-weight: 600;
  font-size: 18px;
}

.logo2 {
  font-weight: 100;
  font-size: 18px;
  color: gray;
}

.logo span {
  align-items: center;
}

nav span a {
  padding: 0px 8px;
  text-decoration: none;
  color: black;
}
