body {
  font-family: Gotham;
}

img {
  width: 100%;
}

h3 {
  margin: 0px;
  padding: 0px;
  text-transform: capitalize;
}

h2 {
  margin: 0px;
  padding: 0px;
  text-transform: capitalize;
  margin-top: 0.5rem;
}

/* Header Alanı */

div.logo {
  padding-left: 24px;
  height: 32px;
  align-items: center;
  display: flex;
  margin: auto 0;
}

header {
  height: 64px;
  background-color: white;
  position: fixed;
  display: flex;
  z-index: 1;
  border-bottom: 1px solid black;
  width: 100%;
  left: 0;
  top: 0;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
}

nav {
  font-size: 12px;
  font-weight: 500;
}

.logo1 {
  font-weight: 600;
  font-size: 18px;
}

.logo2 {
  font-weight: 100;
  font-size: 18px;
  color: gray;
}

.logo span {
  align-items: center;
}

nav span a {
  padding: 0px 8px;
  text-decoration: none;
  color: black;
  font-size: 12px;
}

/* CTA Banner Alanı */

div.container-cta-banner {
  width: 60%;
  padding: 32px 24px;
}

div.container-cta {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(216, 216, 216);
  position: relative;
}

button {
  color: white;
  background-color: black;
  padding: 0.5rem 0;
  font-family: Gotham;
  font-weight: 300;
  font-size: 1em;
  display: flex;
  justify-content: center;
  border: 1px solid white;
  max-width: 90%;
  transition-property: all;
  transition-duration: 0.2s;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
}

button:hover {
  background-color: rgb(50, 50, 50);
}

div.container-cta-text {
  font-size: 1.2em;
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* Info Alanı */

div.container-info-img {
  width: 60%;
  padding: 32px 24px;
}

.who-said {
  font-size: 0.8rem;
}

aside p {
  font-style: italic;
}

div.container-info {
  display: flex;
}

div.info {
  justify-content: center;
  align-items: center;
  display: flex;
  border-left: 1px solid rgb(216, 216, 216);
  border-bottom: 1px solid rgb(216, 216, 216);
}

.info-last {
  justify-content: center;
  align-items: center;
  display: flex;
  border-left: 1px solid rgb(216, 216, 216);
}

.info-last:hover{
  background-color: rgb(216, 216, 216);
}

.info:hover{
  background-color: rgb(216, 216, 216);
}

div.info-img {
  width: 35%;
  padding: 16px;
}

.info-text {
  width: 65%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container-info-list {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin: 32px auto;
}

.info-span {
  padding: 0.5rem 0;
}

.read-more {
  text-transform: capitalize;
  color: rgb(64, 140, 233);
  text-decoration: none;
}

.read-more:hover {
  color: white;
}
